polkit.addRule(function(action, subject) {
  if (action.id == "org.libvirt.unix.manage" && subject.local && subject.active && subject.isInGroup("{{ vagrant_libvirt_group }}")) {
      return polkit.Result.YES;
  }
});
